<h1>Load experimental peptide data from a file</h1>
<%= form_tag( {action: :upload}, multipart: true ) do %>
    <%= label_tag :peptide_sources, 'file to load peptide data from' %>
    <%= select_tag "peptide_sources", options_from_collection_for_select(@peptide_sources, "id", "file_name") %> </p>
    <%= submit_tag 'Upload carr file' %> </p>
<% end %>
