<h1>Infile</h1>
<%= form_tag( {action: :create}, multipart: true ) do %>
    <%= label_tag :infile, 'path to infile' %> </p>
    <%= file_field_tag :infile %> </p>
    <%= submit_tag 'Upload file' %> </p>
<% end %>