<h1>UB Consolidation Help Page</h1>
<p>
  You can view Proteins and Peptides by visiting the
  <a href="http://localhost:3000/admin/">Admin page</a>
</p>

<p>
  More help should follow, as we bring new features up.
  For personal help, contact jackcassidy(at sign here)cox.net by email
</p>
