<footer class="footer">
  </br></br>
  <nav>
    <ul>
      <li><%= link_to "PeptideSources", '/peptide_sources' %></li>
      <li><%= link_to "Peptides", '/peptides' %></li>
      <li><%= link_to "Proteins", '/proteins' %></li>
    </ul>
  </nav>
</footer>