<footer class="footer">
  <small>
    UB5 by Jack Cassidy
  </small>
  <nav>
    <ul>
      <li><%= link_to "Peptides", '/peptides' %></li>
      <li><%= link_to "Proteins", '/proteins' %></li>
      <li><%= link_to "Help",   '/static_pages/help' %></li>
    </ul>
  </nav>
</footer>